.vs/HVS/v15/Server/sqlite3/storage.ide-wal
.vs/HVS/v15/Server/sqlite3/storage.ide-shm
.vs/HVS/v15/Server/sqlite3/storage.ide
.vs/HVS/v15/Server/sqlite3/db.lock
.vs/HVS/v15/.suo
HVS.Api/bin/Debug/netcoreapp2.1/HVS.Api.runtimeconfig.json
HVS.Api/bin/Debug/netcoreapp2.1/HVS.Api.runtimeconfig.dev.json
HVS.Api/bin/Debug/netcoreapp2.1/HVS.Api.pdb
HVS.Api/bin/Debug/netcoreapp2.1/HVS.Api.dll
HVS.Api/bin/Debug/netcoreapp2.1/HVS.Api.deps.json
HVS.Api/bin/Debug/netcoreapp2.1/HVS.Api.Views.pdb
HVS.Api/bin/Debug/netcoreapp2.1/HVS.Api.Views.dll
HVS.Api/obj/HVS.Api.csproj.nuget.g.props
HVS.Api/obj/HVS.Api.csproj.nuget.cache
HVS.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
HVS.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
HVS.Api/obj/Debug/netcoreapp2.1/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
HVS.Api/obj/Debug/netcoreapp2.1/Razor/Core/Business/Resources/EmailTemplates/WelcomeTemplate.g.cshtml.cs
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.pdb
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.csproj.FileListAbsolute.txt
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.csproj.CoreCompileInputs.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.csproj.CopyComplete
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.assets.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.Views.pdb
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.RazorTargetAssemblyInfo.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.RazorCoreGenerate.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.RazorAssemblyInfo.cs
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.RazorAssemblyInfo.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.AssemblyInfoInputs.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.Views.dll
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.TagHelpers.output.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.TagHelpers.input.cache
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.RazorTargetAssemblyInfo.cs
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.AssemblyInfo.cs
HVS.Api/obj/project.assets.json
HVS.Api/obj/HVS.Api.csproj.nuget.g.targets
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.dll
HVS.Api/obj/Debug/netcoreapp2.1/HVS.Api.csprojAssemblyReference.cache
